<%= render 'adm_datatables_resource' %>
<div style="background-color:#fff">
  <div class="container">

    <p>Download
      <%= link_to "CSV", admin_home_path(format: "csv") %> |
      <%= link_to "Excel", admin_home_path(format: "xls") %>
    </p>

    <div>
        Min date <input id="min" class="dp"/>
    </div>
    <div>
        Max date <input id="max" class="dp"/>
    </div>

    <div class="table-responsive">
      <table id="rctb"class="table table-bordered">
        <thead>
          <tr>
            <th>
              Entry Date
            </th>
            <th>
              Name
            </th>
            <th>
              Email
            </th>
            <th>
              Coupon code
            </th>
          </tr>
        </thead>
        <tbody>
          <% Record.all.each do |r| %>
            <tr>
              <td>
                <%= r.created_at.strftime("%F") %>
              </td>
              <td>
                <%= r.name %>
              </td>
              <td>
                <%= r.email %>
              </td>
              <td>
                <%= r.coupon_code %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<script>
  $(document).ready(function(){
    var table = $('#rctb').DataTable({
      "order": [[ 0, "desc" ]],
    });
    $( ".dp" ).datepicker({
      format: "yyyy-mm-dd",
      autoclose: true,
    }).on('changeDate', function (ev) {
      table.draw();
    });
  });

  $.fn.dataTable.ext.search.push(
    function( settings, data, dataIndex ) {
        var min = $('#min').val();
        var max = $('#max').val();
        var col_date = data[0]; // use data for the created_at column
        if ( ( !min && !max ) ||
             ( !min && col_date <= max ) ||
             ( min <= col_date && !max ) ||
             ( min <= col_date && col_date <= max ) )
        {
            return true;
        }
        return false;
    }
  );
</script>
