<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>

    <div class="container">

      <div class="row">
        <div class="col-md-8" style="padding-top: 85px;">
          <div style="color:white; text-align:center; font-family:lavanderia;">
            <h1 style="font-size:50px; letter-spacing: 4px;">The Big June Holidays</h1>
          </div>

          <div style="color:white; text-align:center; padding-top:10px; padding-bottom:40px; font-family:lavanderia;">
            <h1 style="font-size:50px; letter-spacing: 4px;">Travel Giveaway</h1>
          </div>

          <div class="row" style="font-family:Proxima Nova">
            <div class="col-md-3" style="background: rgba(0, 0, 0, 0.6); text-align:center; padding-top:13px; padding-bottom:5px; color:white;">
              <p>1 x Grand Prize</p>
            </div>
            <div class="col-md-8" style="background: rgba(255, 255, 255, 0.1); padding-top:13px; padding-bottom:5px; color:white;">
              <p>2 Night Stay in Ametis Villa Bali for 2 pax (Worth SGD$388)</p>
            </div>
            <div class="col-md-1">
            </div>
          </div>

          <div class="row" style="font-family:Proxima Nova">
            <div class="col-md-3" style="background: rgba(0, 0, 0, 0.6); text-align:center; padding-top:13px; padding-bottom:5px; margin-top:3px; color:white;">
              <p>10 x</p>
            </div>
            <div class="col-md-8" style="background: rgba(255, 255, 255, 0.1); padding-top:13px; padding-bottom:5px; margin-top:3px; color:white;">
              <p>2 Night Stay in Ametis Villa Bali for 2 pax (Worth SGD$388)</p>
            </div>
            <div class="col-md-1">
            </div>
          </div>

          <div class="row" style="font-family:Proxima Nova">
            <div class="col-md-3" style="background: rgba(0, 0, 0, 0.6); text-align:center; padding-top:13px; padding-bottom:5px; margin-top:3px; color:white;">
              <p>50 x</p>
            </div>
            <div class="col-md-8" style="background: rgba(255, 255, 255, 0.1); padding-top:13px; padding-bottom:5px; margin-top:3px; color:white;">
              <p>2 Night Stay in Ametis Villa Bali for 2 pax (Worth SGD$388)</p>
            </div>
            <div class="col-md-1">
            </div>
          </div>

          <div class="row" style="font-family:Proxima Nova">
            <div class="col-md-3" style="background: rgba(0, 0, 0, 0.6); text-align:center; padding-top:13px; padding-bottom:5px; margin-top:3px; color:white;">
              <p>100 x</p>
            </div>
            <div class="col-md-8" style="background: rgba(255, 255, 255, 0.1); padding-top:13px; padding-bottom:5px; margin-top:3px; color:white;">
              <p>2 Night Stay in Ametis Villa Bali for 2 pax (Worth SGD$388)</p>
            </div>
            <div class="col-md-1">
            </div>
          </div>

          <div class="row" style="font-family:Proxima Nova">
            <div class="col-md-3" style="background: rgba(0, 0, 0, 0.6); text-align:center; padding-top:13px; padding-bottom:5px; margin-top:3px; color:white;">
              <p>EVERYONE !!</p>
            </div>
            <div class="col-md-8" style="background: rgba(255, 255, 255, 0.1); padding-top:13px; padding-bottom:5px; margin-top:3px; color:white;">
              <p>SGD$100 Travel Credit Voucher Upon Joining The Contest</p>
            </div>
            <div class="col-md-1">
            </div>
          </div>

          <div class="row" style="font-family:Proxima Nova">
            <div class="col-md-4" style="color:white; margin-top:20px;">
              <h4>How To Win</h4>
              <div style="color:white; margin-top:15px; padding-left:0px">
                <p>1. Like Eat Play Surf on Facebook</p>
                <p>2. Enter a valid email address</p>
                <p>3. Leave a comment on our post</p>
                <p>4. Share it with friends!</p>
              </div>
            </div>
            <div class="col-md-7" style="font-family:Proxima Nova; color:white; margin-top:20px; padding-left:10px; font-size:13px">
              <h4>Important Information</h4>
              <div style="color:white; margin-top:15px;">
                <li style>A live draw (lucky draw format) will be streamed on Eat Play Surf's Facebook Page on 18 June 2016. Save the date to see if you're one of the winners!</li>
                <li style="padding-top:5px">$100 FREE Travel Credit Upon Signup - You may use the $100 to pay for any travel packages at eatplaysurf.com, including All Long Weekend Packages. Book within the next 3 months.</li>
                <p>Good to travel till the end of year.</p>
              </div>
            </div>
            <div class="col-md-1">
            </div>
          </div>
        </div>

        <div class="col-md-4" style="padding-top:200px; padding-bottom:200px; font-family:Proxima Nova;">
          <div id="eps1" style="background:white; padding-left:25px; padding-right:25px; margin-left: 15px; margin-top:15px; margin-right:5px; padding-bottom:20px; padding-top:15px;">
            <h4 style="font-weight:bold;">1. Like our Page</h4>
            <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2FEatPlaySurf.asia%2F&width=450&layout=standard&action=like&show_faces=true&share=false&height=80&appId" width="450" height="25" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
            <h4 style="font-weight:bold;">2. Enter to win!</h4>
            <form>
              <input id="input_email" type="email" class="form-control" placeholder="Enter your email address">
              <a id="submit_btn" href="javascript:void(0)" class="btn btn-default btn-block btn-flat" >Enter Now</a>
              <aa/>
            </form>
            <div style="text-align:center; color:#9c9c9c; font-size:12px; padding-top:20px; line-height:5px;">
              <p>By clicking on 'Enter Now', you accept the</p>
              <a href="#terms-content" id="terms-conditions" onclick="return false">Terms & Conditions</a>
            </div>
          </div>
          <div hidden id="eps2" style="background:white; margin-left: 15px; margin-top:15px; margin-right:5px;">
            <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2FEatPlaySurf.asia%2Fposts%2F10153572449555823%3A0&width=340&show_text=true&height=615&appId" width="340" height="615" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
          </div>
        </div>
      </div>
    </div>
    <script>
      // To attach Backstrech as the body's background
      $.backstretch([
        '<%= asset_url('bg.jpg')%>',
        '<%= asset_url('bg1.jpg')%>',
        '<%= asset_url('bg2.jpg')%>',
        '<%= asset_url('bg3.jpg')%>'
      ], {duration: 3000, fade: 1800});

      jQuery(function(){
         jQuery('#submit_btn').click(function(){
               jQuery('#eps1').hide();
               jQuery('#eps2').show();
        });
      });


      var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
      var url1 = "<%= url_for(controller: 'static', action: 'ajax_submit_email') %>";
      $(document).on('click', '#submit_btn', function() {
        if(!$("#input_email").val().match(re)) {
          alert('Please enter a valid Email');
        }
        else{
           $.ajax({
             type: "POST",
             url: url1,
             data: {
               email: $("#input_email").val()
             },
             dataType: "script"
           });
        }
      });
    </script>
  </body>
</html>
